<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level [%thread] %-26.26logger{1} %-10.10X{user} - %m %rEx\n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="Stdout" />
	</root>
</configuration>
